# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment
.env

# Logs
logs/
*.log

# Database
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db